@import "../styles/global.scss";

.all-projects-container {
    max-width: 60%;
    margin: 0 auto;
  h4 {
    font-size: 1.5rem;
    margin-bottom: 4rem;
  }
  h3{
    display: none;
  }
}
@media (max-width: $responsive_tablet) {
  .all-projects-container {
    text-align: center;
    h3{
        font-family:'Courier New', Courier, monospace;
        display: block;
        margin-bottom: 20px;
    }
  }
}
@media (max-width: 500px){
    .all-projects-container{
        max-width: 100%;
        
    }
}

