@import "../styles/global.scss";

.contact-container {
  max-width: 60%;
  margin: 0 auto;
  h4 {
    font-size: 1.5rem;
    margin: 4rem 0 2rem;
  }
  &_info {
    @include flex-center;
    justify-content: space-around;
    border: 1px solid $base-color;
    border-radius: 26px;
    a {
      text-decoration: none;
    }
    .info-icon {
      color: white;
      font-size: 4rem;
      margin: 1rem 0;
      transition: all 0.3s ease;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
@media (max-width: $responsive_tablet) {
  .contact-container {
    h4 {
      text-align: center;
    }
    &_info {
      .info-icon {
        font-size: 3rem;
      }
    }
  }
}
@media(max-width: $responsive_mobile){
    .contact-container{
        max-width: 80%;
    }
}
@media (max-width: 320px){
    .contact-container{
        max-width: 95%;
    }
}
