$responsive_min-width: 430px;
$responsive_mobile: 640px;
$responsive_tablet: 1024px;
$responsive_laptop: 1440px;
//COLORS
$page-background: #060417;
$base-color: #7e61e7;
$base-color-light: #a993fe;
$secondary-color: #cf649a;
$black-translusent: rba(0, 0, 0, 0.2);
$gradient: 90deg, $base-color-light 0%, $base-color 100%;
//FONTS
$nav-size: 1rem;

*{
font-family: "Roboto", sans-serif;
}
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin initials {
  .initials {
    font-family: "Whisper", sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: $base-color;
  }
}
@mixin resume-btn {
  @include flex-center;
  font-size: $nav-size;
  color: #fff;
  background: linear-gradient($gradient);
  padding: 3% 8%;
  border: none;
  outline: 1.5px solid transparent;
  border-radius: 0.2rem;
  transition: all 0.3s ease;
  cursor: pointer;
}
@mixin flare {
  content: " ";
  width: 28rem;
  height: 28rem;
  border-radius: 28rem;
  background: #7e61e7;
  position: absolute;
  z-index: -1;
  filter: blur(170px);
  @media (max-width: $responsive_mobile){
    width: 15rem;
  }
}
@mixin bn30 {
  .bn30 {
    border: 5em;
    cursor: pointer;
    outline: none;
    -webkit-transform: translate(0);
    transform: translate(0);
    background-image: linear-gradient(45deg, #4568dc, #b06ab3);
    padding: 0.7em 2em;
    border-radius: 65px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
    -webkit-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    color: rgba(255, 255, 255, 0.91);
    &::after{
      content: "";
      border-radius: 22px;
      position: absolute;
      margin: 5px;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: -1;
      background: #0e0e10;
    }
    &:hover{
      background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
      box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
      .icon{
        color: $base-color-light;
      }
    }
  }
}
