@import "../styles/global.scss";

.mobile-menu {
  display: none;
  background-color: $black-translusent;
  position: fixed;
  width: 60%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 999 !important;
  opacity: 0;
  box-shadow: 0px 29px 80px $black-translusent;
  transition: all 0.3s ease;
  transform: translateX(-100vw);

  &-container {
    transition: all 0.3s ease;
    width: 60%;
    height: 100%;
    background: linear-gradient(135deg, #000000 25%, transparent 25%) -32px 0/ 64px 64px, linear-gradient(225deg, rgba(0,0,0,0.5) 25%, transparent 25%) -32px 0/ 64px 64px, linear-gradient(315deg, #000000 25%, transparent 25%) 0 0/ 64px 64px, linear-gradient(45deg, rgba(0,0,0,0.5) 25%, #342864 25%) 0 0/ 64px 64px;
background-color: #342864;
    padding: 2rem;
    @include initials;

    ul {
      .menu-item {
        text-decoration: none;
        color: white;
      }
      .resume-btn {
        @include resume-btn;
        @media(max-width:$responsive_tablet){
            max-width: 50%;
        }
        @media(max-width:$responsive_mobile){
            max-width: 100%;
        }
      }
    }
  }

  &.active {
    transition: all 0.3 ease;
    opacity: 1;
    width: 100%;
    height: 100%;
    transform: translateX(0);
  }

  & .initials {
    margin-bottom: 3rem;
  }

  & ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
  }

  @media (max-width: $responsive_tablet) {
    display: block;
  }
}
