@import "../styles/global.scss";

.profile-container {
  @include flex-center;
  justify-content: space-between;
  max-width: 60%;
  margin: 0 auto;
  margin-top: 2%;
  &::after {
    @include flare;
    left: 15rem;
  }
  .profile-text {
    p {
      font-family: "Caveat";
      color: $secondary-color;
      font-size: 3.1rem;
      font-weight: 400;
    }
    h1,
    h2 {
      font-family: "Montserrat", sans-serif;
    }
    h1 {
      font-size: 3.5rem;
      font-weight: 400;
    }
    h2 {
      font-size: 1.5rem;
      line-height: 3.5rem;
      padding-left: 4px;
      font-weight: 400;
    }
  }
  .profile-images {
    @include flex-center;
    &::after {
      @include flare;
    }
    .icons {
      display: flex;
      flex-direction: column;
      padding-right: 3%;
      .tech-icon {
        width: 70px;
        padding-block: 10%;
      }
    }
    .profile-img {
      img {
        height: 430px;
        border-radius: 5%;
      }
    }
  }
}
@media (max-width: $responsive_laptop) {
  .profile-container{
    &::after {
      left: 0;
    }
    .profile-text{
      h1{
        font-size: 3rem;
      }
      h2{
        font-size: 1.4rem;
      }
    }
    .profile-images {
      .icons {
        .tech-icon{
            width: 60px;
        }
      }
      .profile-img {
        img {
          height: 400px;
        }
      }
    }
  }
}
@media (max-width: $responsive_tablet) {
  .profile-container{
    @include flex-column;
    margin-top: 5%;
    .profile-images{
      @include flex-column;
      .icons{
        flex-direction: row;
        padding: 0;
        .tech-icon{
          margin: 0 5px;
        }
      }
    }
  }
}
@media(max-width: $responsive_min-width){
 .profile-container{
  .profile-text{
    p{
      font-size: 2.5rem;
    }
    h1{
      font-size: 2.3rem;
    }
    h2{
      font-size: 1.2rem;
      line-height: 2.5rem;
    }
  }
  .profile-images{
    .icons{
      .tech-icon{
        width: 45px;
        margin: 0 3px;
      }
    }
    .profile-img{
      img{
        height: auto;
        width: 280px;
      }
    }
  }
 }
}