@import "../styles/global.scss";

  .project-card {
    @include flex-column;
    max-width: 300px;
    border: 1px solid $base-color;
    border-radius: 15px;
    margin: 0 auto;
    &_poster {
      width: 300px;
      height: auto;
      img {
        width: 100%;
        border-radius: 15px 15px 0 0;
      }
    }
    &_desc {
      max-width: 92%;
      text-align: center;
      h1 {
        margin: 1rem 0;
      }
    }
    &_links {
      margin: 1.2rem 0;
      a {
        margin: 0 20px;
      }
      @include bn30;
      .icon {
        font-size: 2rem;
      }
    }
  }
@media (max-width: $responsive_laptop) {
  .project-card {
    width: 260px;
    &_poster {
      max-width: 260px;
    }
  }
}

@media (max-width: $responsive_tablet) {
  .project-card {
    width: 300px;
    &_poster {
      max-width: 300px;
    }
  }
}
@media (max-width: $responsive_min-width){
  .project-card{
    width: 300px;
  }
}
